@charset "UTF-8";

body {
	background: #f1f1f2;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 105px; /* bottom = footer height */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat', sans-serif; font-weight:700;
	letter-spacing: 0px;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, select:focus, .uneditable-input:focus {
	border-color: #bd9b60;
	box-shadow: none;
	outline: 0 none !important;
}
p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif; font-weight:300;
}


.navbar-brand {
    font-family: 'Abel', sans-serif;
}



.jumbotron .logo {
    margin-left: 17px;
    padding-bottom: 75px;
	max-width: 120px;
}
.jumbotron {
	width: 100%;
	min-height: 700px;
	background: url('img/touchShooting.jpg') center center;
	background-size: cover;
	opacity: 1;
	display: table;
	width: 100%;
	position: relative;
	border-radius: 0px;
	color: white;
	
	margin: 0;
	-webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 95%);
  clip-path: url(#poly);
	overflow: hidden;
  
}


.jumbotron .logo {
    margin-left: 17px;
    padding-bottom: 75px;
	max-width: 120px;
}
.jumbotron h1 {
    color: #37ffba;
	font-size: 50px;
    margin-top: 200px;
}
.jumbotron h2 {
	font-size: 18px;
    line-height: 25px;
	margin: 0;
}
#video-bg {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	background: #000;
	z-index: -1;
	background-size: cover;
	opacity: 1;
  
  -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 95%);
  clip-path: url(#poly);
	overflow: hidden;
}
#black {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 100%;
	background: rgba(26,29,37,0.8); 
}
#main-wrapper {
	margin-top: 100;
    margin-bottom: 100;
}

#main-wrapper2 {
	margin-top: 100;
}

.main-content {
	padding-top: 25px;
    line-height: 25px;
}
.main-content .white-box {
	padding: 25px;
	margin: 35px 0;
	background: #fff
}
.main-content ul {
	list-style: initial;
	margin-left: 15px
}
.main-content .final-cta {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif; 
    font-weight:100;
    margin-top: 4rem;
    padding-bottom: 8rem
}

footer {
	color: #999;
	position: absolute;
	background: rgba(26,29,37,1);
	left: 0;
	bottom: 0;
	height: 150px;
	width: 100%;
	padding: 10px 0;
	font-size: 12px;
    border-top: 1px solid #eaebec;
}

.socialMedia {
    font-size:40px;
    color:orange;   
}

@media (min-width: 320px) and (max-width: 480px) {
.jumbotron {
	min-height: 590px;
	padding: 5px 15px;
}
.jumbotron h1 {
	font-size: 30px;
}
.logo{
    padding-top: 4rem
        
    }
.jumbotron h2 {
	font-size: 16px;
}
.form-container {
	margin-top: 20px;
}
} /**** END 320 and 480 ****/
